<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="FluentUIBug.styles.css" />
    <HeadOutlet />
</head>

<body>
    <fluent-design-theme mode="dark" primary-color="#682079" />
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
