@inherits LayoutComponentBase

<div class="main">
    <FluentMainLayout>
        <Header>
            Stack overflow bug
        </Header>
        <Body>
            @Body
        </Body>
    </FluentMainLayout>
</div>