@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        <a href="/">
            <FluentIcon Value="@(new Icons.Regular.Size20.Home())" Color="Color.Fill" />
        </a>
        <FluentSpacer />
        <ThemeToggler />
    </FluentHeader>
    <FluentBodyContent>
        <div class="content">
            @Body
        </div>
    </FluentBodyContent>
</FluentLayout>
